.consult
  padding-top: 70px
  padding-bottom: 55px
  &-info
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    font-size: 41px
    margin-bottom: 20px
  &__subtitle
    font-size: 14px
    font-weight: 600
  &__calling
    background-color: $main-color
    height: 50px
    width: 205px
    color: #ffffff
    margin-right: 25px
  &__appointment
    background-color: $footer-color
    color: #ffffff
    height: 50px
    width: 205px
