.footer
  padding-top: 75px
  padding-bottom: 35px
  background-color: $footer-color
  color: #ffffff
  border-bottom: 1px solid #866e94
  &-logo
    display: flex
    align-items: center
    margin-bottom: 45px
  &__name
    text-transform: uppercase
    font-size: 25px
  &__motto
    text-transform: uppercase
    font-size: 12px
  &__descr
    max-width: 245px
    font-size: 15px
    line-height: 24px
  &-social
    &__link
      font-size: 16px
      color: #fff
      &-vk
        font-size: 16px
        color: #ffffff
      &-facebook
        font-size: 16px
        color: #ffffff
      &-instagram
        font-size: 16px
        color: #ffffff
  &-copyright
    padding-top: 35px
    padding-bottom: 35px
    background: $footer-color
    color: #ffffff
.copyright    
  &-text
      display: flex
      justify-content: flex-end
  &__description
    margin-right: 30px
  &__link
  &-link
    &__name
      color: #ffffff